body {
    background-color: black;
}
header{
    margin: 0px;
    background-color: black;
    width: 2000px;
}
#heading {
    height: 80px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
   padding-top: 40px;

}

marquee {
    height: 40px;
    padding-top: 15px;
    background-color: rgb(145, 9, 9);
    border-radius: 200px;
}

#bold {
    color: whitesmoke;
}

#images {
    border-radius: 90px;
    background-color: rgb(145, 9, 9);
    text-align: center;
}

img {
    border-radius: 10%;
}

#aspects {
    background-color: black;
}

h1 {
    background-color: rgb(145, 9, 9);
    color: white;
    text-align: center;
    border-radius: 40px;
}

p {
    color: whitesmoke;
}
header{
    position: fixed;
}
main{
    padding:250px;
}
