body{
    margin: 0px;
}
header{
    background-color: #60efff;
    height: 120px;
}
#head{
    position: fixed;
    background-color: #60efff;
    width: 1540;
    
}
#intro{
    float: left;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#port{
    float: right;
}
#aspects{
    float: left;
    width: 50%;
    text-align: center;
    
}
#table{
    width: 50%px;
    float: right;
}
footer{
    height: 100px;
    background-color: black;
    color: whitesmoke;
    padding:10px
}