#btn{
    width: 100px;
    height: 100px;
    background-color: turquoise;
    border-radius: 50px;
    font-size: 20px;
    margin-left:400px ;
}
#container{
    display: flex;
    flex-wrap: wrap;  
}
#container img{
  
    width: 200px;
    border: 4px solid transparent;
}
#container img:hover{
    border:4px solid black
}
.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(170, 170, 170, 0.8);
}

.overlay > img {
    max-width: 70vw;
    max-height: 70vh;
}

.d-none {
    display: none;
}
#img_preview>button{
    position: relative;
    bottom: 270px;
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
    font-size: 25px;
    
}